body {
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  color: rgb(1, 163, 23);
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 18px;
  line-height: 19px;
  color: rgb(118, 117, 116);
  margin: 0;
  padding: 0;
}

li::first-letter {
  text-transform: capitalize;
}

small {
  margin-top: 0;
  padding: 0;
}

.weather-app-all {
  max-width: 650px;
  margin: 30px auto;
}

.weather-app {
  max-width: 650px;
  margin: 30px 30px 0 30px auto;
  padding: 20px;
  border: 2px solid #ffe24f;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.btn {
  background-color: rgb(1, 163, 23);
  border: none;
}

.github-link {
  color: rgb(1, 163, 23);
}

.weather-temperature img {
  margin-right: 15px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  font-size: 64px;
  line-height: 1;
  color: rgb(1, 163, 23);
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -32px;
}

.weather-temperature .active {
  color: rgb(118, 117, 116);
  text-decoration: none;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.link-unit {
  text-decoration: none;
  color: rgb(1, 163, 23);
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-temperature {
  font-size: 12px;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}
